@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&family=Roboto:wght@300;400;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type:none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color:#0f0c27;
  color: #fff;
  width: 96%;
}
/* Navbar css*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index:2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#0f0c27;
  color: #fff;
  padding: 13px 10%;
}
.logo{
  margin-top: -38px;
  font-size: 1.7rem;
  font-weight: 800;
  font-family:poppins;
  letter-spacing: 0.4px;
  color:#fff;
  color: yellow;
  text-shadow: 0 0 15px yellow 0 0 25px yellow;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
0%{
  filter: hue-rotate(0deg);
}
100%{
  filter: hue-rotate(360deg);
}
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
ul{
  display:flex ;
}
.navbar a{
  font-size: 1.7rem;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.3s;
}
a:hover{
  color: #FCA738;
  text-decoration: underline;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
  color: white;
}
#menu-icon:before {
  content: "\eb5f";
}

/* Home page css */
section{
  /* padding: 50px 10px; */
  align-content: center;
  background-color: #0f0c27;
  /* background: url(./assets/images/bs.png);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #105652; */
}
.home{
  position: relative;
  /* left:13rem; */
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
}
.my_img{
  order: 3;
  position: relative;
  left:25rem;
}
.my_img img{
  width: 35%;
}
.homepage_text h1{
  font-size: xx-large;
  color: #fff;
  position: relative;
  left:23rem;
}
.homepage_text h2{
  position: relative;
  left:23rem;
  font-size: x-large;
  color : #fff;
}
.homepage_text p{
  position: relative;
  left:23rem;
  font-size: small;
  margin: 0.7rem 0 1rem;
  color: #FBF3E4;
}
#btn1{
  background: #09BEAD;
  cursor: pointer;
  border-radius:8px;
  border: none;
  opacity: 0.99;
  color: white;
  position: relative;
  left:23rem;
  padding: 5px;
}
#btn2{
  background: #FCA738;
  border-radius: 8px;
  border: none;
  color: white;
  opacity: 0.99;
  position: relative;
  left:23rem;
  padding: 5px;
}
/* about me */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  }
.about_heading h2{
  text-align: center;
  font: normal normal bold 35px/44px Inter;
  letter-spacing: 0.2px;
  opacity: 1;
  color: white;
}
.about_img img{
  width: 80%;
  border-radius:50%;
  padding: 50px;
  margin-left: 10rem;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information p{
  padding: 1rem;
  text-align: justify;
  font-weight: 400;
  font: 18px/30px Inter;
  color:white;
  opacity: 1;
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.skills{
  /* display: flex;
  flex: 0 0 10px;
  margin-left: 66rem;
  background: #fff;
  height: 80px;
  border-radius: 15px;
  padding: 0.2rem;
  margin-top:-10rem; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(5px, auto));
  gap: 1px;
  margin-top: -10rem;
  margin-left: 66rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
.skill_img{
  width: 100%;
  display: block;
}

/* portfolio css */
.heading h2{
  text-align: center;
  font: normal normal bold 35px/44px Inter;
  letter-spacing: 0.2px;
  opacity: 1;
  color: white;
}
.portfolio-content {
  margin-left: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 2rem;
  margin-top: 2rem;
}
.portfolio-img img {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 0.5rem;
}
.portfolio-img img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* Resume css */
.resumepage{
  margin-left: 4rem;
  width:90%;
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  justify-content: center;
}
.heading h2{
  text-align: center;
  font: normal normal bold 35px/44px Inter;
  letter-spacing: 0.2px;
  opacity: 1;
  color: white;
}
.education{
  padding: 35px;
  background-color:#0f0c27;
  opacity: 1;
  height: 450px;
  border-radius: 10px;
}
.dot{
  height: 15px;
  width:15px;
  background-color: #fff;
  border-radius: 50%;
}
.line{
  height: 80px;
  width: 2px;
  margin-left: 1.2%;
  background-color: #fff;
}
.edu_details h6,span{
  font-weight: bold;
  color: #fff;
  text-align: left;
  margin-top: -105px;
  margin-left: 58px;
}
span{
  font-size: 13px;
  color: orchid;
}
.yr{
  background-color: orangered;
  color: #fff;
  padding: 2px;
  border: 1px solid lightgray;
  border-radius:5px;
  margin-left: 400px;
  margin-top: -100px; ;
}
/* contact css */
.contact-form{
  margin-left: 4rem;
  width:90%;
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}
.contact-form p{
  color: #0f0c27;
  font-weight: bold;
}
.connect{
  padding: 35px;
  background-color:lightgrey;
  height: 450px;
  border-radius: 10px;
}
h3{
  color: black;
  font-weight: bold;
}
.contact-form form {
  color: black;
  border-radius: 10px;
  background-color:lightgrey;
  height: 450px;
  display: flex;
  flex-direction: column;
  width: 550px;
  /* padding-left: 10px; */
  padding: 25px;
}
form input,
  textarea {
  padding: 8px;
  border-radius: 0.5rem;
  width: 98%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color:#0f0c27;
  }
  form input::placeholder,
  textarea::placeholder {
  color:#0f0c27;
  }
  form textarea {
  resize: none;
  height: 200px;
  }
#msg{
  background-color:blue;
  padding: 5px;
  color: #fff;
  width: 25%;
  border: 1px solid lightcyan;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 0.5px;
  /* margin-left: 10%; */
}
#msg:hover{
  background-color: green;
}
/* footer css */
.copyright {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  height: 25px;
  }
.copyright a{
  color: #22cf91;
  }

/* Making Responsive */
@media (max-width: 991px) {
  header {
    /* padding: 18px 4%; */
    padding-top: 3%;
  }
  section {
    padding: 50px 4%;
  }
  .homepage-text h2{
    font-size: large;
  }
  .homepage-text h2{
    font-size: large;
  }
  }
@media (max-width: 768px) {
  header {
    padding: 4% 4%;
  }
  .homepage-text h2{
    font-size: large;
  }
  .homepage-text h2{
    font-size: large;
  }
  #menu-icon {
    display: initial;
    margin-top: -1.2%;
    margin-right: 20%;
    color:#fff;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    /* background: var(--bg-color); */
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    /* background: var(--bg-color); */
  }
  .scroll-down {
    display: none;
  }
  .home {
    /* grid-template-columns: 0.5fr 3fr; */
    grid-template-columns: 1fr;
  }
  .homepage_text,h1,h2,p {
    padding-top: 3%;  
    font-size: 2rem;
    grid-column: 1/3;
    margin-left: -2rem;
    /* padding-left: 1rem; */
  }
  .my-img {
    padding-top: 1%;
    order:initial;
  }
  .about_heading h2{
    text-align: center;
    margin-left: 15rem;
  }
  .about-container {
    margin-left: 10rem;
    grid-template-columns: 1fr;
    width: 80%;
  }
  .about-img {
    display: flex;
    justify-content: center;
    margin-left:-55px;
  }
  .skills{
    margin-top: -1rem;
    margin-left: 9rem;
  }
  .skill_img img {
    padding-left: 0;
    padding-top: 1rem;
    background-color: #fff;
    margin-left:-2rem;
    margin-top: -1rem;;
  }
  .myimg{
    display: none;
  }
  .edu_details{
    margin-left: 10%;
    max-width: 100%;
  }
  .dot{
    height: 15px;
    width:15px;
    background-color: #fff;
    border-radius: 50%;
  } 
  .line{
    height: 80px;
    width: 3px;
    margin-left: 1.5%;
    background-color: #fff;
  }
  .heading h2{
    margin-top: 7rem;
  }
  .contact-form{
    margin-left: 4rem;
    margin-left: 1rem;
    width:90%;
    display: grid;
    grid-template-columns:1fr;
    place-items: center;
    justify-content: center;
    grid-gap: 15px;
  }
  .contact-form .connect{
    width: 400px;
  }
  form textarea {
    resize: both;
    height: 50px;
  }
  .contact-form form{
    display: block;
    flex-direction: column;
    margin-left: 3%;
    width: 400px;;
  }
  #msg{
    margin-left: 25%;
    width: 150px;
  }
  }
  @media (max-width: 380px) {
  .homepage-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information p{
    font-size: 1rem;
  }
  .skill_img img {
    padding-left: 0;
    padding-top: 1rem;
    background-color: #fff;
    margin-left:-2rem;
    margin-top: -1rem;
    width: 25px;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .heading h2{
    margin-top: 7rem;
 }
  .contact-form .connect{
    width: 300px;
  }
  .contact-form form{
    width: 300px;
  }
  #msg{
    margin-left: 25%;
    width: 150px;
  }
}